@import url('../styles/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

header {
    position: relative;
    display: grid;
    grid-template-rows: 125px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.fontAwesome {
    font-family: Poppins, FontAwesome;
}

.hdr__main {
    display: grid;
    grid-template-areas: "hdr__logo hdr__nav";
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.hdr__logo {
    grid-area: hdr__logo;
    justify-self: flex-start;
    filter: drop-shadow(0px 4px 48px rgba(255, 116, 27, 0.5));
}

.hdr__nav {
    grid-area: hdr__nav;
    font-family: Poppins, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 131px) 1fr;
    align-items: center;
    margin-bottom: 11px;
    margin-left: 40px;
}

.hdr__nav a {
    text-decoration: none;
    color: #1E385B;
    font-weight: 600;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.hdr__nav a:hover {
    opacity: 0.8;
}

.hdr__btn {
    background: #FBB829;
    width: 148px;
    height: 60px;
    box-shadow: 0px 4px 31px rgba(251, 184, 41, 0.5);
    border-radius: 12px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-left: 14px;
}

.hdr__btn:hover {
    background: white;
    color: #FBB829;
    transform: rotate(5deg);
}

.hdr__circle {
    position: absolute;
    width: 1182px;
    height: 1182px;
    border-radius: 50%;
    top: -208px;
    left: -415px;
    background: #FFEEB9;
    z-index: -1;
}

.banner {
    display: grid;
    grid-template-areas: "hdr__text hdr__img";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 330px 15px;
}

.banner__text {
    grid-area: hdr__text;
    font-family: Poppins, sans-serif;
    justify-self: flex-end;
    height: 225px;
    width: 655px;
    align-self: center;
}

.banner__text h1 {
    font-size: 55px;
    text-transform: capitalize;
    color: #1E385B;
    font-weight: 800;
    line-height: 69px;
    margin-bottom: 25px;
}

.banner__text span {
    color: #FBB829;
}

.banner__text p {
    font-size: 20px;
    font-weight: 700;
    color: #716E6E;
    line-height: 34px;
}

.banner__img {
    grid-area: hdr__img;
    margin-left: 90px;
}

.banner__form {
    position: relative;
    width: 650px;
    display: grid;
    justify-self: center;
}

.banner__input {
    width: 650px;
    height: 95px;
    border-radius: 60px;
    background: white;
    border: 0;
    padding-left: 30px;
    transition: border 0.3s ease-in-out;
    border: 2px solid #fff;
}

.banner__input:focus {
    border: 2px solid #98A6F5;
    outline: none;
}

.banner__input::placeholder {
    color: #ADA3A3;
}

.banner__formBtn {
    background: #FBB829;
    color: white;
    width: 160px;
    height: 65px;
    border-radius: 35px;
    border: 0;
    font-size: 22px;
    font-family: Poppins;
    cursor: pointer;
    position: absolute;
    right: -15px;
    top: 15px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.banner__formBtn:hover {
    color: #FBB829;
    background: white;
    box-shadow: 0px 4px 31px rgba(251, 184, 41, 0.5);
}

.statistic {
    align-content: center;
    background: #FFEEB9;
    border-radius: 21px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 219px;
    justify-self: center;
    width: 1024px;
    margin-top: 100px;
}

.statistic__feature {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 15px;
    justify-content: center;
    justify-self: center;
}

.statistic__featureNumber {
    color: #FBB528;
    font-family: Barlow, sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.statistic__featureText {
    color: #9A9898;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    width: 145px;
    text-transform: uppercase;
}

.statistic__featureImg {
    align-content: center;
    background: white;
    border-radius: 18px;
    display: grid;
    height: 94px;
    justify-content: center;
    width: 97px;
}

.statistic__featureDescription {
    display: grid;
    grid-row-gap: 10px;
    
}

.support {
    display: grid;
    grid-template-rows: 240px;
    justify-content: center;
    margin-top: 40px;
}

.support__description {
    font-family: Poppins, sans-serif;
    text-align: center;
}

.support__description h2 {
    color: #1E385B;
    text-transform: capitalize;
    font-size: 55px;
    margin: 0;
}

.support__descriptionQuestion {
    color: #FBB829;
    font-size: 21px;
    margin-bottom: 5px;
}

.support__descriptionText {
    color: #716E6E;
    font-size: 20px;
    line-height: 30px;
}

.support__advices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
}

.support__cards {
    width: 224px;
    height: 266px;
    border-radius: 15px;
    box-shadow: 0px 6.36px 36px rgba(0, 0, 0, 0.08);
    font-family: Poppins, sans-serif;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 143px 0 100px;
    position: relative;
    background-color: #fff;
}

.support__cards h3 {
    font-size: 20px;
    margin-top: 0;
}

.support__cards p {
    font-size: 18px;
    color: #716E6E;
    line-height: 27px;
}

.support__cards::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 100px;
    top: -3px;
    left: -15px;
    transform: scaleX(0.8);
    border-radius: 15px;
    z-index: -1;
  }
  
.support__cards::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 100px;
    bottom: -3px;
    right: -15px;
    transform: scaleX(0.8);
    border-radius: 15px;
    z-index: -1;
  }

.orange::before, .orange::after {
    background-color: #FFC000;
  }

.violet::before, .violet::after {
    background-color: #BD00FF;
  }  

.blue::before, .blue::after {
    background-color: #9DACFE;
  }  

.red::before, .red::after {
    background-color: #FCA9A9;
  }
  
.advantage {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    margin-top: 90px;
    position: relative;
}

.advantage__content {
    font-family: Poppins, sans-serif;
    display: grid;
    justify-items: center;
}

.advantage__content h2 {
    font-size: 55px;
    line-height: 75px;
    font-weight: 800;
    color: #313D5B;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;
}

.advantage__content span {
    color: #FBB829;
}

.advantage__body {
    display: grid;
    grid-template-rows: 125px 190px 100px;
}

.advantage__list {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
}

.advantage__list img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantage__title {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.advantage__description {
    font-size: 20px;
    color: #716E6E;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}

.advantage__circle {
    position: absolute;
    width: 1110px;
    height: 1090px;
    border-radius: 50%;
    top: -235px;
    right: -310px;
    background: #FFEEB9;
    z-index: -2;
    overflow-x: hidden;
}