@import url('../styles/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


header {
    position: relative;
    display: grid;
    grid-template-rows: 125px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.circle__wrap {
    overflow: hidden;
}

.circle__container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}


.circle {
    position: absolute;
    width: 1110px;
    height: 1090px;
    border-radius: 50%;
    top: 380px;
    right: -40px;
    background: #FFEEB9;
    z-index: -2;
}

.fontAwesome {
    font-family: Poppins, FontAwesome;
}

.hdr__main {
    display: grid;
    grid-template-areas: "hdr__logo hdr__nav";
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.hdr__logo {
    grid-area: hdr__logo;
    justify-self: flex-start;
    filter: drop-shadow(0px 4px 48px rgba(255, 116, 27, 0.5));
}

.hdr__nav {
    grid-area: hdr__nav;
    font-family: Poppins, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 131px) 1fr;
    align-items: center;
    margin-bottom: 11px;
    margin-left: 40px;
}

.hdr__nav a {
    text-decoration: none;
    color: #1E385B;
    font-weight: 600;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.hdr__nav a:hover {
    opacity: 0.8;
}

.hdr__btn {
    background: #FBB829;
    width: 148px;
    height: 60px;
    box-shadow: 0px 4px 31px rgba(251, 184, 41, 0.5);
    border-radius: 12px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-left: 14px;
}

.hdr__btn:hover {
    background: white;
    color: #FBB829;
    transform: rotate(5deg);
}

.hdr__circle {
    position: absolute;
    width: 1182px;
    height: 1182px;
    border-radius: 50%;
    top: -208px;
    left: -415px;
    background: #FFEEB9;
    z-index: -1;
}

.banner {
    display: grid;
    grid-template-areas: "hdr__text hdr__img";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 330px 15px;
}

.banner__text {
    grid-area: hdr__text;
    font-family: Poppins, sans-serif;
    justify-self: flex-end;
    height: 225px;
    width: 655px;
    align-self: center;
}

.banner__text h1 {
    font-size: 55px;
    text-transform: capitalize;
    color: #1E385B;
    font-weight: 800;
    line-height: 69px;
    margin-bottom: 25px;
}

.banner__text span {
    color: #FBB829;
}

.banner__text p {
    font-size: 20px;
    font-weight: 700;
    color: #716E6E;
    line-height: 34px;
}

.banner__img {
    grid-area: hdr__img;
    margin-left: 90px;
}

.banner__form {
    position: relative;
    width: 650px;
    display: grid;
    justify-self: center;
}

.banner__input {
    width: 650px;
    height: 95px;
    border-radius: 60px;
    background: white;
    border: 0;
    padding-left: 30px;
    transition: border 0.3s ease-in-out;
    border: 2px solid #fff;
}

.banner__input:focus {
    border: 2px solid #98A6F5;
    outline: none;
}

.banner__input::placeholder {
    color: #ADA3A3;
}

.banner__formBtn {
    background: #FBB829;
    color: white;
    width: 160px;
    height: 65px;
    border-radius: 35px;
    border: 0;
    font-size: 22px;
    font-family: Poppins;
    cursor: pointer;
    position: absolute;
    right: -15px;
    top: 15px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.banner__formBtn:hover {
    color: #FBB829;
    background: white;
    box-shadow: 0px 4px 31px rgba(251, 184, 41, 0.5);
}

.statistic {
    align-content: center;
    background: #FFEEB9;
    border-radius: 21px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 219px;
    justify-self: center;
    width: 1024px;
    margin-top: 100px;
}

.statistic__feature {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 15px;
    justify-content: center;
    justify-self: center;
}

.statistic__featureNumber {
    color: #FBB528;
    font-family: Barlow, sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.statistic__featureText {
    color: #9A9898;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    width: 145px;
    text-transform: uppercase;
}

.statistic__featureImg {
    align-content: center;
    background: white;
    border-radius: 18px;
    display: grid;
    height: 94px;
    justify-content: center;
    width: 97px;
}

.statistic__featureDescription {
    display: grid;
    grid-row-gap: 10px;
    
}

.support {
    display: grid;
    grid-template-rows: 240px;
    justify-content: center;
    margin-top: 40px;
}

.support__description {
    font-family: Poppins, sans-serif;
    text-align: center;
}

.support__description h2 {
    color: #1E385B;
    text-transform: capitalize;
    font-size: 55px;
    margin: 0;
}

.support__descriptionQuestion {
    color: #FBB829;
    font-size: 21px;
    margin-bottom: 5px;
}

.support__descriptionText {
    color: #716E6E;
    font-size: 20px;
    line-height: 30px;
}

.support__advices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
}

.support__cards {
    width: 224px;
    height: 266px;
    border-radius: 15px;
    box-shadow: 0px 6.36px 36px rgba(0, 0, 0, 0.08);
    font-family: Poppins, sans-serif;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 143px 0 100px;
    position: relative;
    background-color: #fff;
}

.support__cards h3 {
    font-size: 20px;
    margin-top: 0;
}

.support__cards p {
    font-size: 18px;
    color: #716E6E;
    line-height: 27px;
}

.support__cards::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 100px;
    top: -3px;
    left: -15px;
    transform: scaleX(0.8);
    border-radius: 15px;
    z-index: -1;
  }
  
.support__cards::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 100px;
    bottom: -3px;
    right: -15px;
    transform: scaleX(0.8);
    border-radius: 15px;
    z-index: -1;
  }

.orange::before, .orange::after {
    background-color: #FFC000;
  }

.violet::before, .violet::after {
    background-color: #BD00FF;
  }  

.blue::before, .blue::after {
    background-color: #9DACFE;
  }  

.red::before, .red::after {
    background-color: #FCA9A9;
  }
  
.advantage {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    margin-top: 90px;
}

.advantage__content {
    font-family: Poppins, sans-serif;
    display: grid;
    justify-items: center;
}

.advantage__content h2 {
    font-size: 55px;
    line-height: 75px;
    font-weight: 800;
    color: #313D5B;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.advantage__content span {
    color: #FBB829;
}

.advantage__body {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1fr;
}

.advantage__list {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
}

.advantage__list img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantage__title {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.advantage__description {
    font-size: 20px;
    color: #716E6E;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}

.job {
    display: grid;
    justify-items: center;
    margin-top: 100px;
    grid-template-rows: 280px;
}

.job__title {
    text-align: center;
    font-family: Poppins, sans-serif;
}

.job__title h2 {
    font-size: 55px;
    text-transform: capitalize;
    color: #1E385B;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.job__title p {
    font-size: 22px;
    color: #716E6E;
    letter-spacing: 1px;
    margin: 0;
    line-height: 33px;

}

.job__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}

.job__cards {
    width: 316px;
    height: 300px;
    box-shadow: 4px 4px 81px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-family: Poppins, sans-serif;
    display: grid;
    grid-template-rows: 45px 70px;
    box-sizing: border-box; 
    border-radius: 20px;
    transition: transform 0.7s ease-in-out;
    cursor: pointer;
}

.job__orange {
    border-bottom: 23px solid #FBB829; 
}

.job__violet {
    border-bottom: 23px solid #8B3DEF;
}

.job__yellow {
    border-bottom: 23px solid #FFD600;
}

.job__blue {
    border-bottom: 23px solid #5CABF4;
}

.job__pink {
    border-bottom: 23px solid #FF93CD;
}

.job__cards:last-child {
    border: 2px solid #FF8A01;
    display: grid;
    justify-items: center;
    align-items: end;
    grid-template-rows: 175px 40px;
}

.job__mainText {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 36px;
}

.job__images {
    display: grid;
    grid-template-columns: 25px 15px 35px 20px;
    align-items: center;
    justify-items: center;
}

.job__circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5CABF4;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    font-weight: 800;
}

.job__gradient {
    font-size: 20px;
    font-weight: 800;
    background:  linear-gradient(112.5deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 35px;
    height: 25px;
    justify-self: right;
    margin-right: 20px;
}

.job__cards:hover .job__gradient {
    animation: gradient 1s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background:linear-gradient(112.5deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    15% {
        background: linear-gradient(90deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    25% {
        background: linear-gradient(45deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    35% {
        background: linear-gradient(25deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    45% {
        background: linear-gradient(-25deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(-45deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    75% {
        background: linear-gradient(-90deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
    rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(-112.5deg, #FF1212 0%, rgba(255, 68, 162, 0.74) 34.57%, 
        rgba(49, 245, 17, 0.58) 61.35%, rgba(55, 28, 219, 0.94) 78.4%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.job__heading {
    display: grid;
    grid-template-columns: 80px 120px 115px;
    height: 80px;
    justify-items: center;
    margin-left: 10px;
}

.job__amazon {
    width: 60px;
    height: 60px;
}

.job__paypal {
    border-radius: 50%;
}

.job__procter, .job__apple {
    justify-self: end;
}

.job__main {
    display: grid;
    grid-template-rows: 30px;
}

.job__company {
    font-size: 24px;
    margin: 0;
    font-weight: 800;
    letter-spacing: 1px;
}

.job__map {
    display: grid;
    grid-template-columns: 20px 10px;
}

.job__map i {
    color: #3E9FF9;
    font-size: 20px;
}

.job__location {
    margin: 0;
    font-size: 20px;
    color: #716E6E;
    font-weight: 600;
}

.job__earning {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 50px;
    margin: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 25px 60px;
    padding-left: 5px;
    font-weight: 600;
    font-size: 12px;
}

.job__earning span {
    font-weight: 400;
    color: #8B8484;
}

.job__description {
    display: grid;
    margin-left: 35px;
    grid-template-rows: 40px;
}

.job__basis {
    display: grid;
    grid-template-columns: repeat(2, 100px)
}

.job__basis, .job__representation {
    font-size: 16px;
    color: rgba(113, 110, 110, 0.8);
}

.job__basis p {
    margin-bottom: 0;
}

.job__representation {
    text-align: center;
    margin-right: 35px;
    margin-bottom: 0;
}

.job__vacancy {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 800;
}

.job__switch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 5px;
}

.job__switch p {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 15px;
}

.job__switch span {
    color: white;
    padding: 0 5px;
}

.job__arrow {
    position: relative;
}

.job__arrow:before {
    content: '';
    width: 30px;
    color: white;
    position: absolute;
    top: 23px;
    right: -53px;
    border: 1px solid white;
}

.job__arrow:after {
    content: '';
    transform: rotate(-45deg);
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: white;
    padding: 4px;
    position: absolute;
    right: -54px;
    top: 18px;
}

.job__cards:hover {
    transform: scale(1.05);
}

.job__cards:hover .job__arrow {
    animation-name: arrow;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.job__cards:hover .job__switch p {
    animation-name: text;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        right: 0;
    }

    50% {
        right: 10px;
    }

    100% {
        right: 0;
    }
}

@keyframes text {
    0% {
        color: rgba(255, 255, 255, 0.8);
    }

    50% {
        color: white;
    }

    100% {
        color: rgba(255, 255, 255, 0.8);
    }
}
